*~
JAC-Creuziger/ExpFigures/*
JAC-Creuziger/MtexData/*
JAC-Creuziger/MtexDataHW/*
JAC-Creuziger/ODFFigures/*
JAC-Creuziger/ODFFiguresHW/*
trueEbsd/copper29.h5oina
trueEbsd/example_copper.asv
trueEbsd/example_copper_out.mat
trueEbsd/thesis_MGrabner2023.pdf
